<!DOCTYPE html>
<html>
<head>
  <title>hXc Reviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	        		<span class="sr-only">Toggle Navigation</span>
		        	<span class="icon-bar"></span>
		        	<span classhidden-lg ="icon-bar"></span>
	      		</button>
				<%= link_to "hXc reviews", root_path, class: "navbar-brand" %>
			</div>
			<!-- next div necessary for responsive collapse -->
			<div class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Genres<span class="caret"></span></a>
						<ul class = "dropdown-menu" role = "menu">
							<% Genre.all.each do |g| %>
							<!-- generate links based on genre name, route click to albums_path (index action) based on genre name params-->
							<% #blow set li to active if the passed genre [name] params == current iterations genre name%>
							<li class="<%= 'active' if params[:genre] == g.name %>">
								<%= link_to g.name, albums_path(genre: g.name ), class: "link" %>
							</li>
							<% end %>
						</ul>
					</li>
					<li> <%= link_to "Add Album", new_album_path %> 
					</li>
				</ul>
				<ul class="nav navbar-nav">
					<li><%= link_to "Sign Up", new_user_registration_path %></li>
					<% if user_signed_in? %>
						<li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
					<% else %>
						<li> <%= link_to "Login", new_user_session_path %> </li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	    
	<div class="container">
		<%= yield %>
	</div>


</body>
</html>
